= form_for @document do |f|
  -if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.hidden_field :author_id, :value => @document.new_record? ? current_user.id : @document.author_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :user_tokens, "Users to share with"
    = f.text_field :user_tokens, "data-pre" => @document.users.map(&:attributes).to_json
  .actions
    = f.submit 'Save', :class => "btn"
